@font-face{
    font-family: 'rajdhani-light';
    src: url('Rajdhani-Light.ttf');

}

.button{

    -fx-font-family: rajdhani-light;
    -fx-font-size: 15px;
    -fx-background-color: #00000000;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, rgba(153,50,0,1) 0%, rgba(255,0,196,1) 100%);
    -fx-border-radius: 10px;
}

.button:hover{
    -fx-background-color: #ddd;
}

.list-view{
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, rgba(153,50,0,.6) 0%, rgba(255,0,196,.6) 100%);
    -fx-border-width: 2px;
}

#add-btn{
    -fx-font-size: 22px;
}

.list-cell:focused{
    -fx-background-color: #3ad2eca8;
}


#file-name-label {
    -fx-font-size: 14px;
    -fx-color: #222;
}
#meta-label {
    -fx-font-size: 10px;
    -fx-color: #444;
}

.menu:hover , .menu:showing{
    -fx-background-color: #37ced396;
}

.menu-item:hover{
    -fx-background-color: #4fcab596;
}
