@font-face{
    font-family: 'rajdhani-light';
    src: url('Rajdhani-Light.ttf');

}

.button{

    -fx-font-family: rajdhani-light;
    -fx-font-size: 18px;
    -fx-background-color: #00000000;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, rgba(153,50,0,1) 0%, rgba(255,0,196,1) 100%);;
    -fx-border-radius: 10px;
}

.button:hover{
    -fx-background-color: #ddd;
}